
:root {
    --header-background-color: #E4F9F5;
    --text-color: #40514E;
    --headline-primary-color: #66BFBF;
    --headline-secondary-color: #11999E;
    --footer-background-color: #66BFBF;
    --hr-color: #EAF6F6;
    --btn-color: #11cdd4;
    --btn-hover-color: #30e3cb;
}

/* General */

html { font-size: 62.5%; }

body {
    color: var(--text-color);
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1, h2 { color: var(--headline-primary-color); }

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    margin: 0;
    padding: 50px 0 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    padding: 10px 0;
}

h3 {
    color: var(--headline-secondary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

p { line-height: 2; font-size: large; }
  
hr {
    border: dotted var(--hr-color) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a { font-family: 'Montserrat', sans-serif; }

/* Header */
header {
    background-color: var(--header-background-color);
    position: relative;
    padding-top: 9rem;
}

.top-cloud {
    position: absolute;
    right: 30rem;
    top: 4rem;
}

.bottom-cloud {
    position: absolute;
    left: 25rem;
    bottom: 30rem;
}

.underline {
    text-decoration: underline;
}

/* Main */
main { margin: 10rem 0; }

.profile > img {
    height: 20rem;
    border-radius: 10rem;
}

.profile__intro {
    width: 30%;
    margin: auto;
}

.skills__item {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skills__item > img { width: 25%; }
.skills__item--right > img { float: right;  margin-left: 30px; }
.skills__item--left > img { float: left;  margin-right: 30px; }

.contact__message { 
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: var(--btn-color);
    border-radius: 8px;
    font-size: 2rem;
    color: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: var(--btn-hover-color);;
    text-decoration: none;
}

/* footer */
footer {
    background-color: var(--footer-background-color);
    padding: 50px 0 20px;
}

.footer__copyright {
    color:var(--hr-color);
    font-size: 1rem;
    padding: 20px 0;
}

.footer__link{
    color: var(--headline-secondary-color);
    font-size: 1.5rem;
    margin: 10px 20px;
    text-decoration: none;
}
  
.footer__link:hover {
    color: var(--hr-color);   
}