/* my first project */

* {
    margin: 0;
    padding:0;
  }
  
  header
  {
    background-color:#E4F9F5;
    text-align:center;
    font-family:'Sacramento';
    margin-top: -40px;
    margin-bottom: -40px;
    height: 1100px;
  }
  
  body {
      background-color: #ffffcc;
  }
  
  .title {
    font-family: 'Sacramento';
    padding-bottom:10px;
    padding-top:160px;
    color: #66BFBF;
    text-align:center;
    font-size:60px;
  }
  
  img {
    background:#E4F9F5;
    text-align:center;
    padding-top: -300px;
    padding-bottom: -300px;;
    margin:0 auto;
    margin-left:70px;
  }
  
  .cloudone
  {
   margin-left: 450px;
   margin-bottom: 300px;
  }
  
  .cloudtwo
  {
   margin-right: 500px;
   margin-top: 200px;
  }
  main
  {
    background-color: white;
    /*text-align:center;*/
    color: #40514E;
    font-family: 'Merriweather';
    line-height: 200%;
    padding:130px;
font-size:18px;
  }
  
  h2 {
      color: #66BFBF;
      font-family: 'Montserrat';
      padding-top:20px;
      font-size:28px;
      margin-bottom:35px;
      line-height: 200%;
      text-align:center;
      height: 35px;
  }
  h3 {
      color: #11999E;
      font-family: 'Montserrat';
      line-height: 200%;
      padding-top:35px;
      margin-top:35px;
  }
  
  nav ul {
    background-color: #66BFBF;
    text-align: center;
    margin-block:10rem;
    padding-block:10rem;
  }
  
  nav li {
    margin-bottom:1rem;
    margin-top:1rem;
    display:inline-block;
    text-align: center;
    width: 5rem;
    color:#11999E;
    font-size: 18px;
  }
  
  #devclub {
   color: #EAF6F6;
   font-size: 12px;
  }
  
  .computerone{
float:right;
margin:1rem;
margin-top:5rem;
  }

  .computertwo{
    float:left;
    margin:1rem;
    margin-top:4rem;
      }

  mainleft
  {
    text-align:left;
    margin:1rem;
  }

  maincenter
  {
    text-align:center;
  }
  .button {
    background-color: #11cdd4;
    font-size: 19px;
    font-family:'Merriweather';
    color: white;
    width:10rem;
    text-align:center;
    border:10px #30e3cb;
    margin-top:3rem;
    margin-right:1rem;
    margin-left:29rem;
    margin-bottom:5rem;
    display:inline-block;
    padding:5px #30e3cb;
    border-radius: 0.4rem;
  }

  .points {
    font-size: 50px;
    color: rgb(240, 239, 239);
    padding-top:50px;
    padding-bottom: 40px;
  }

  .student {

    border-radius: 7.4rem;
    margin-left: 27.5rem;
  }